<script type="text/ng-template" id="changeEmplWindow.html">
    <div class="modal-header">
        Изменение
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" class="form-control" ng-model="employee.name" id="name" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input type="text" class="form-control" ng-model="employee.surname" id="surname" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="patronymic">Отчество</label>
            <input type="text" class="form-control" ng-model="employee.patronymic" id="patronymic" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="sex">Пол</label>
            <input type="text" class="form-control" ng-model="employee.sex" id="sex" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="contacts">Контакты</label>
            <input type="text" class="form-control" ng-model="employee.contacts" id="contacts" placeholder="Enter email">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="changeEmployee(employee); $ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </div>
</script>