<div class="form-inline">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.openAddWindow()">Добавить сотрудника</button>
    <div ng-show="isEmpls" class="input-group">
        <span class="input-group-addon">Поиск</span>
        <input type="text" class="form-control" ng-model="search">
    </div>
</div>
<div ng-show="isEmpls" class="row">
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <td>ФИО</td>
            <td>Пол</td>
            <td>Контакты</td>
            <td>Рабочий день/Приход/уход</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="empl in empls | filter: search | startFrom: currentPage*pageSize | limitTo: pageSize">
            <td>{{empl.name}} {{empl.surname}} {{empl.patronymic}}</td>
            <td>{{empl.sex}}</td>
            <td>{{empl.contacts}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="$ctrl.openTimeWindow(empl._id)">Добавить</button>
                <p ng-repeat="time in empl.times">{{time.day|formatDay}} / {{time.start|formatStartEndTime}} / {{time.end|formatStartEndTime}}
                <button type="button" class="btn btn-default" ng-click="deleteTime(empl._id, time._id)">У</button>
                </p>
            </td>
            <td><button type="button" class="btn btn-default" ng-click="$ctrl.openEmplWindow(empl)">Редактировать</button></td>
            <td><button type="button" class="btn btn-default" ng-click="deleteEmployee(empl)" >Удалить</button></td>
        </tr>
        </tbody>
    </table>
    <ul class="pager"><button type="button" class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Назад</button>
        {{currentPage + 1}}/{{numberOfPages()}}
        <button type="button" class="btn btn-default" ng-disabled="currentPage >= empls.length/pageSize - 1" ng-click="currentPage=currentPage+1">Вперед</button>
    </ul>

</div>